
//opcje//
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  
}
  
//zamówienia//
  
.order {
  background-image: url("https://i.postimg.cc/MHp046Gf/2021-05-21-04-55-13-Zdj-cia.png");
  margin-top: 50px;
  margin-left: 3px;
  margin-right: 5px;
  width: 48%;
  height: 100px;
  border-radius: 5px;
}
  
.orderinfo {
  text-align: center;
  font-size: 25px;
  color: #fafafa;
  text-decoration: none;
  
}
  
//Rezerwacje//
  
.booking {
  background-image: url("https://i.postimg.cc/QtH1k6Yc/2021-05-21-04-59-59-pizza-2-jpg-Zdj-cia.png");
  margin-top: 50px;
  //transform: translateY(-10px);
  margin-left: 5px;
  margin-right: 5px;
  width: 48%;
  height: 100px;
  border-radius: 5px;
}

.reservinfo {
  text-align: center;
  font-size: 25px;
  color: #fafafa;
  text-decoration: none;
}
//otwarcie parasola
.open-hours {
  background-color: #ff6b6b;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 5px;
}

.openinfo{
  text-align: center;
  padding-bottom: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #fafafa;}
  
.openinfo {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fafafa;}

//Karuzela 
.carousel-cell {
  
  margin-top: 100px;
  display: flex;
}

.title-description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-left: 10%;
  padding-top: 10px;
  display: inline-flex;
  
}

.content-description { 
  font-family: "Open Sans", sans-serif;
  margin-left: 10%;
  font-size: 14px;
  
  
  
}

//Galeria
.gallery-wrapper {
  display: flex;
  padding-top: 80px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 30px;

  .gallery-box {
    position: relative;

    .gallery-overlay {
      @include center();
      opacity: 0;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.6;

      .gallery-overlay {
        opacity: 1;
        text-align: center;

        .gallery-link {
          color: #fafafa;
          font-size: 30px;
          letter-spacing: 15px;

          &:hover {
            opacity: 0.9;
            color: #ff6b6b;
          }
        }
      }
    }
  }
}


.footer-wrapper{
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.footer-link{
  padding-top: 50px;
  color: #ff6b6b;
  text-decoration: none;
  font-size: 20px;  
}